<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <img src="assets/logo.png">
                <div class="text">
                    <!-- <p>Blog Sayfama Hoşgeldin</p> -->
                </div>
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <header>Login</header>
                    <div class="input-field">
                        <input  type="text" [(ngModel)]="loginModel.EmailOrUserName" name="email" class="input" id="email" required  minlength="1">
                        <label for="email"><i class="fa-solid fa-envelope"></i> Email</label>
                        <!-- <div class="invalid-feedback">
                            Email must be valid.
                        </div> -->
                    </div>
                    <div class="input-field">
                        <input  type="password" [(ngModel)]="loginModel.Password" name="password" class="input" id="password" required minlength="6">
                        <label for="password"><i class="fa-solid fa-lock"></i> Password</label>
                        <!-- <div class="invalid-feedback">
                            Password must be valid.
                        </div> -->
                    </div>
                    <div class="input-field">
                        <button [disabled]="!loginForm.valid" class="submit">
                            <i class="fa-solid fa-lock fa-shake"></i>
                            Sign In
                        </button>
                    </div>
                    <div class="signin">
                        <span>Do you haven't an account? <a routerLink="/signin">Sign in</a></span>
                        <div style="display: flex; justify-content: center; margin-top: 10px;">
                            <span><a (click)="openSendforgotPasswordEmailModal()">I forgot my password.</a></span>
                            
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="sendConfirmEmailModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-5" >Onay Maili Gönder</h3>
          <button type="button" #sendConfirmEmailModalCloseBtn data-dismiss="modal" class="btn btn-outline-danger" aria-label="Close">
            <i class="fa-solid fa-x"></i>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Mail Adresi</label>
                <input type="email" [(ngModel)]="email" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
          <button (click)="sendConfirmEmail()" type="button" class="btn btn-primary">Gönder</button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="modal" tabindex="-1" role="dialog" id="sendForgotPasswordEmailModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5">Forgot Password</h5>
          <button (click)="closeSendforgotPasswordEmailModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #forgotPasswordForm="ngForm" (ngSubmit)="sendForgotPasswordEmail(forgotPasswordForm)">
            <div class="form-group">
              <label for="forgotPasswordEmail">Email address</label>
              <input type="email" [(ngModel)]="forgotPasswordEmail" name="forgotPasswordEmail" class="form-control" id="forgotPasswordEmail" required>
            </div>
            <button style="margin-top: 20px;" type="submit" class="submit" [disabled]="!forgotPasswordForm.valid">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>