<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <img src="assets/logo.png">
                <div class="text">
                    <!-- <p>Blog Sayfama Hoşgeldin</p> -->
                </div>
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <form #forgotPasswordForm="ngForm" (ngSubmit)="changePasswordUsingToken(forgotPasswordForm)">
                    <header>New Password</header>
                    <!-- <div class="input-field">
                        <input  type="password" [(ngModel)]="password" name="password" class="input" id="password" required minlength="6">
                        <label for="password"><i class="fa-solid fa-lock"></i> Password</label>
                        
                    </div> -->

                    <div class="input-field">
                        <label for="password">Password</label>
                        <div class="input-group mb-3">
                            <input required minlength="8" validate (focus)="isPasswordFocus = true" (blur)="isPasswordFocus = false" #password [(ngModel)]="newPassword" name="password"   (keyup)="checkRegexPatternForPassword(password)" type="password" class="form-control">
                            <span class="input-group-text" id="basic-addon1">
                                <i (click)="showOrHidePassword(password)" *ngIf="!isShowPassword" class="fa-solid fa-eye"></i>
                                <i (click)="showOrHidePassword(password)" *ngIf="isShowPassword" class="fa-solid fa-eye-slash"></i>
                            </span>
                          </div>
                          <div *ngIf="isPasswordFocus" class="psswrd-req">
                            <ul class="password-ul">
                                <li class="pw-error" id="minCharacter">Min 8 Character</li>
                                <li class="pw-error" id="upperLetter">Upper Case</li>
                                <li class="pw-error" id="lowerLetter">Lower Case</li>
                            </ul>
                            <ul class="password-ul">
                                <li class="pw-error" id="specialLetter">Special Character</li>
                                <li class="pw-error" id="numLetter">Number</li>
                            </ul>
                          </div>
                    </div>

                    <div class="input-field">
                        <button [disabled]="!forgotPasswordForm.valid" class="submit">
                            <i class="fa-solid fa-lock fa-shake"></i>
                            Change
                        </button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>